{
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "extends": ["@nuxtjs/eslint-config-typescript", "@unocss", "plugin:prettier/recommended"],
    "rules": {
        "no-console": "off",
        "vue/no-multiple-template-root": 0,
        "prettier/prettier": [
            "warn",
            {
                "semi": false,
                "trailingComma": "none",
                "singleQuote": true,
                "printWidth": 155,
                "tabWidth": 4,
                "endOfLine": "auto",
                "bracketSameLine": true,
                "bracketSpacing": true,
                "arrowParens": "avoid",
                "singleAttributePerLine": true,
                "htmlWhitespaceSensitivity": "ignore"
            }
        ]
    }
}